<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1 align="center">Chọn đồ thị để hiển thị</h1>
    <div class="container-flex">
        <div style="border: 1px solid ;">
            <a class="btn btn-primary" href="{{ url_for('views.dothiGa') }}"><h1>Hình G<sub>a</sub></h1></a>

            <a href="{{ url_for('views.dothiGa') }}">
                <img src="data:image/png;base64,{{ image_a }}">
            </a>
        </div>
        <div style="border: 1px solid ;">
            <a class="btn btn-cam" href="{{ url_for('views.dothiGb') }}"><h1>Hình G<sub>b</sub></h1></a>
            <a href="{{ url_for('views.dothiGb') }}">
                <img src="data:image/png;base64,{{ image_b }}">
            </a>
        </div>
        
    </div>
</body>
</html>